<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>

<body>
  <div class="item">
    <div class="img">
      <img src="../img/6.jpg" alt="">
    </div>
    <div class="content">
      <a href="#">Cho thuê căn hộ dịch vụ cao cấp Bùi Đình Tuý, Bình Thạnh, giá rẻ - TP Hồ Chí Minh</a>
      <p style="margin-top:10px">Giá: 6,7 triệu/tháng</p>
      <p>Diện tích: 35m2</p>
    </div>
  </div>

</body>

</html>