<!DOCTYPE html>
<html lang="en">

<head>
  <link href="../img/icon.ico" rel="icon" />
  <link href="../img/icon.ico" rel="icon" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.1.0/ol.css" />
  <link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@4.1.0/dist/ol-layerswitcher.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/app.css" />
  <title>quản lý nhà đất</title>
</head>

<body>
  <div class="row">
    <!-- logo -->
    <div class="text-left col order-first">
      <form class="search-container" action="//llamaswill.tumblr.com/search">
        <img style="width: 75px; height: 45px" src="../img/logo.png" alt="" />
      </form>
    </div>
    <div class="text-center col-7">
      <form class="search-container" action="//llamaswill.tumblr.com/search">
        <img style="width: 75px; height: 45px" src="../img/logo.png" alt="" />
      </form>
    </div>
    <div class="text-left col order-last">
      <form class="search-container" action="//llamaswill.tumblr.com/search">
        <img style="width: 75px; height: 45px" src="../img/logo.png" alt="" />
      </form>
    </div>
  </div>

  <div id="map"></div>

  <!-- Bang thong tin chung -->
  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
  </div>
  <!-- info: bang chua thong tin tai noi click -->
  <div id="infoElement" class="">
    <br />
    <button id="infoButton" class="btn btn-primary myButton" style="color: aliceblue" role="button">
      <i class="fa-solid fa-circle-info iconbutton"></i>
    </button>
  </div>
  <div id="info">&nbsp;</div>

  <!-- Day chuc nam ben phai -->
  <div class="control_right">
    <!-- 1. Quay tro lai trang chu -->
    <div class="myHome">
      <br />
      <a class="btn btn-primary myButton" style="color: aliceblue" href="./index.html" role="button"><i class="fa-solid fa-rotate iconbutton"></i>
      </a>
    </div>
    <!-- 2. chu thich -->
    <br />
    <div class="chu_thich">
      <button class="btn btn-primary myButton" style="color: aliceblue" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-palette iconbutton"></i>
      </button>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #797273; padding: 25px">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Bảng ký hiệu các loại đất trên bản đồ quy hoạch
              </h1>

              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <nav id="navbar-example2" class="navbar bg-light px-3 mb-3">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link" href="#chuthich_htsd">Hiện trạng sdđ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#chuthich_qhsd">Quy hoạch sdđ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#chuthich_ndc">Nền đc</a>
                  </li>
                </ul>
              </nav>
              <div data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px " data-bs-smooth-scroll="" class="scrollspy-example-2 bg-light p-3 rounded-2">
                <div id="chuthich_htsd">
                  <br />
                  <h5>Hiện trạng sử dụng đất</h5>
                </div>
                <div id="chuthich_qhsd">
                  <br />
                  <h5>Quy hoạch sử dụng đất</h5>
                </div>
                <div id="chuthich_ndc">
                  <br />
                  <h5>Nền địa chính</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 2. Tinh do dai-->
    <div id="lengthElement" class="">
      <br />
      <button id="lengthButton" class="btn btn-primary myButton" style="color: aliceblue" role="button">
        <i class="fa-solid fa-ruler iconbutton"></i>
      </button>
    </div>
    <!-- 3. Tinh dien tich -->
    <div id="areaElement" class="">
      <br />
      <button id="areaButton" class="btn btn-primary myButton" style="color: aliceblue" role="button">
        <i class="fa-solid fa-chart-area iconbutton"></i>
      </button>
    </div>
  </div>

  <!-- Bo Loc va thanh tim kiem -->


  <div style="display: flex; justify-content: space-between" id="attQueryDiv">
    <select id="select_xa" style="width: 15%">
      <option class="" value="0">Chọn xã</option>
      <% for(let  i=0; i<xaData.length; i++) {%>
      <option class="" value="<%=xaData[i].ma_xa %>"><%= xaData[i].ten_xa %></option>
      <% } %>
    </select>
    <select id="select_qhsd" style="width: 17%">
      <option class="" value="0">Chọn quy hoạch</option>
      <% for(let  i=0; i<loaidatData.length; i++) {%>
      <option class="" value="<%=loaidatData[i].ma_dat %>"><%= loaidatData[i].ten_dat %></option>
      <% } %>
    </select>

    <input style="width: 15%" type="number" placeholder="S nhỏ nhất" name="" id="input_dientich">
    <input style="width: 15%" type="text" name="" placeholder="Số tờ" id="input_soto">
    <input style="width: 15%" type="text"  name="" placeholder="Số thửa" id="input_sothua">
    <!-- <input type="text" style="width: 40%" placeholder="Nhập từ khóa" id="enterValue" name="enterValue" /> -->
    <button style="width: 14%" class="btn btn-success " id="submitSearch" onclick="submitSearch()">
      Tìm Kiếm
    </button>
  </div>

  <div class="attListDiv" id="attListDiv"></div>

  <div id="table_data"></div>
  <div id="wms_layers_window" title="Available WMS Layers" style="display: none"></div>
  <table id="table_wms_layers" class="table-bordered"></table>

  <script src="https://unpkg.com/elm-pep@1.0.6/dist/elm-pep.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/ol@v7.1.0/dist/ol.js"></script>
  <script type="text/javascript" src="https://unpkg.com/ol-layerswitcher@4.1.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js"></script>

  <script src="./js/main.js"></script>
</body>

</html>