 <div class="row">
        <!-- logo -->
        <div class="text-left col order-first">
          <form
            class="search-container"
            action="//llamaswill.tumblr.com/search"
          >
            <img
              style="width: 75px; height: 45px"
              src="../img/logo.png"
              alt=""
            />
          </form>
        </div>
        <div class="text-center col-7">
          <form
            class="search-container"
            action="//llamaswill.tumblr.com/search"
          >
            <img
              style="width: 75px; height: 45px"
              src="../img/logo.png"
              alt=""
            />
          </form>
        </div>
        <div class="text-left col order-last">
          <form
            class="search-container"
            action="//llamaswill.tumblr.com/search"
          >
            <img
              style="width: 75px; height: 45px"
              src="../img/logo.png"
              alt=""
            />
          </form>
        </div>
      </div>